# Exclude directories

docker*
docs
.git*
uml-diagrams
tests
icons
images
RASA/.rasa
RASA/results
RASA/models

# Exclude files

# TODO Into separate docs folder
*.md
*.pdf
*.ipynb
setup.cfg
setup.py
user.py