# Exclude directories

docker*
docs
.git*
uml-diagrams
tests
icons
images
venv/*
RASA/.rasa
RASA/results
# RASA/models

# Exclude files

# TODO Into separate docs folder
*.md
*.pdf
setup.cfg
setup.py
user.py