torch
torchvision
torchaudio
--extra-index-url https://download.pytorch.org/whl/cpu
numpy~=1.23.1
pytorch_lightning
hydra.core
nemo_toolkit==1.6.2
NEMO~=4.1.1
youtokentome
sacremoses
sacrebleu
hypothesis~=6.48.3
phonemizer~=3.2.1