pytest==7.1.2
setuptools==62.6.0
wheel==0.37.1
PyYAML==6.0
tqdm~=4.64.0
librosa==0.9.2
inflect==5.6.0
braceexpand==0.1.7
webdataset
transformers
omegaconf==2.2.2
rapidfuzz
pandas
jieba
opencc
backoff~=2.1.2
SoundFile~=0.10.3.post1
fastapi[all]==0.78.0
pydantic==1.9.1
grequests~=0.6.0
PyAudio~=0.2.11